/* Variables */
:root {
  /* Color: grayscale */
  --c-darkest: #202634;
  --c-darker: #485063;
  --c-dark: #82899e;
  --c-medium: #c2c9db;
  --c-light: #dce0ec;
  --c-lighter: #eaeef6;
  --c-lightest: #fff;

  /* Color: theme */
  --c-primary: #045dfa;
  --c-success: #00b241;

  /* Typefaces */
  --f-base: proxima-nova, sans-serif;

  /* Sizes */
  --f-size: 16px;

  /* Font weights */
  --w-light: 300;
  --w-normal: 400;
  --w-med: 500;
  --w-semi: 600;
  --w-bold: 700;

  /* Line heights */
  --h-compact: 1.2;
  --h-normal: 1.4;
  --h-expanded: 1.6;

  /* Style */
  --radius: 4px;

  /* Buttons */
  --btn-size: 44px;

  /* Motion */
  --t-subtle: .2s;
  --t-normal: .3s;
  --t-overt: .4s;

  /* Layout */
  --gutter: 20px;
  --container-lg: 940px;
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Base typography */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--c-lighter);
  color: var(--c-darker);
  font-family: var(--f-base);
  font-size: var(--f-size);
  font-weight: var(--w-normal);
  line-height: var(--h-normal);
  margin: 0;
}

/* Links */
a {
  color: var(--c-primary);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-darkest);
  line-height: var(--h-compact);
  margin: 0;
}

/* Blocks */
p,
figure {
  margin: 0;
}

/* Text color */
.is-subtle {
  color: var(--c-medium);
}

/* Page */
.page {
  padding: var(--gutter);
}

@media only screen and (min-width: 1024px) {
  .page {
    max-width: var(--container-lg);
    margin: var(--gutter) auto;
    padding: 0;
  }
}

/* Title bar */
.title-bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: calc(var(--gutter) / 2);
}

.title {
  font-size: 2rem;
}

.title-btn {
  vertical-align: middle;
}

.title-bar-actions {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .title-bar-actions {
    margin-left: auto;
    width: auto;
  }
}

/* Media list */
.media-list {
  background: var(--c-lightest);
  border: 1px solid var(--c-light);
  border-radius: var(--radius);
}

/* Media */
.media {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.media + .media {
  border-top: 1px solid var(--c-light);
}

/* Media thumbnails */
.media-thumb {
  border: 1px solid var(--c-light);
  border-radius: 50%;
  height: 44px;
  margin-right: 12px;
  width: 44px;
}

.media-thumb.is-success {
  border-color: var(--c-success);
  border-width: 5px;
}

.initials {
  color: var(--c-dark);
  display: block;
  font-weight: var(--w-semi);
  line-height: 44px;
  text-align: center;
}

.is-success .initials {
  line-height: 36px;
}

/* Media title */
.media-title {
  font-size: 1.125rem;
  font-weight: var(--w-semi);
  margin-top: .25rem;
}

.media-subtitle {
  color: var(--c-darker);
  font-size: .75rem;
  font-weight: var(--w-med);
  letter-spacing: .025em;
  text-transform: uppercase;
}

/* Media actions */
.media-actions {
  display: flex;
  justify-content: space-between;
  margin: 6px 0 0 56px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .media-content {
    flex-grow: 1;
  }

  .media-actions {
    margin: 0;
    width: auto;
  }
}

/* Buttons */
.btn {
  background: var(--c-lightest);
  border-radius: var(--radius);
  border: 1px solid var(--c-light);
  color: var(--c-darkest);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  height: var(--btn-size);
  line-height: var(--btn-size);
  padding: 0 .75em;
  transition: border-color var(--t-subtle) ease, color var(--t-subtle) ease;
}

.btn.is-sm {
  line-height: calc(var(--btn-size) / 2);
  height: calc(var(--btn-size) / 2);
  font-size: .875rem;
  padding: 0 .5em;
}

.btn.is-primary {
  color: var(--c-primary);
  font-weight: var(--w-semi);
}

.btn.is-primary:focus,
.btn.is-primary:hover {
  color: var(--c-darkest);
}

.btn.is-subtle {
  color: var(--c-medium);
}

.btn:focus,
.btn:hover {
  border-color: var(--c-medium);
  color: var(--c-primary);
}

.btn[disabled] {
  color: var(--c-light);
  cursor: auto;
}

.btn[disabled]:focus,
.btn[disabled]:hover {
  border-color: var(--c-light);
  color: var(--c-light);
}

i + .btn-label {
  margin-left: .25em;
}

/* Button groups */
.btn-group {
  background: var(--c-lightest);
  border: 1px solid var(--c-light);
  border-radius: var(--radius);
  display: flex;
  padding: 0 .25em;
}

.btn-group.is-not-outlined {
  border: 0;
  padding: 0;
}

.btn-group + .btn-group {
  margin-left: calc(var(--gutter) / 2);
}

.btn-group .btn {
  background-color: transparent;
  border: 0;
  padding: 0 .5em;
}

/* Contact details */
.contact-details:not(.is-active) {
  display: none;
}

.contact-details > * {
  margin-top: .25rem;
}

.contact-details p,
.contact-details address {
  font-style: normal;
  padding-left: 1.5rem;
  position: relative;
}

.contact-details .fa-sm {
  position: absolute;
  top: .25em;
  left: 0;
}

/* Screen readers only */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
